# question 
1. diff b/w loading using array of values and array of rows

In [1]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

In [2]:
# defining schema programmatically

schema = StructType([StructField("author", StringType(), False),
                     StructField("title", StringType(), False),
                     StructField("pages", IntegerType(), False)])

In [3]:
data = [["john", "book-1", 123],
        ["jane", "book-2", 234],
        ["smith", "who are you", 121]]

In [4]:
spark = SparkSession.builder.appName("schema").getOrCreate()

df = spark.createDataFrame(data, schema)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/28 20:05:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/28 20:05:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/02/28 20:05:38 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
df.select(df.pages).show()

+-----+
|pages|
+-----+
|  123|
|  234|
|  121|
+-----+

In [6]:
df.select((df.pages * 2).alias("2xPages")).show()

+-------+
|2xPages|
+-------+
|    246|
|    468|
|    242|
+-------+

## ROWS

In [7]:
from pyspark.sql import Row

row = Row("jane","who are you",123)
title = row[1]
print(f'title is \"{title}\"')

title is "who are you"

In [8]:
rows = [Row("john", "book-1", 123),
        Row("jane", "book-2", 234),
        Row("smith", "who are you", 121)]

df_rows = spark.createDataFrame(rows,["name","title","pages"])
df_rows.show()

+-----+-----------+-----+
| name|      title|pages|
+-----+-----------+-----+
| john|     book-1|  123|
| jane|     book-2|  234|
|smith|who are you|  121|
+-----+-----------+-----+