# Querying with the Spark SQL Shell, Beeline,

## Using the Spark SQL Shell
A convenient tool for executing Spark SQL queries is the spark-sql CLI. While this
utility communicates with the Hive metastore service in local mode, it does not talk
to the Thrift JDBC/ODBC server (a.k.a. Spark Thrift Server or STS). The STS allows
JDBC/ODBC clients to execute SQL queries over JDBC and ODBC protocols on
Apache Spark.

To start the Spark SQL CLI, execute the following command in the $SPARK_HOME
folder:

./bin/spark-sql

Once you’ve started the shell, you can use it to interactively perform Spark SQL queries.

Let’s take a look at a few examples.
Create a table
To create a new permanent Spark SQL table, execute the following statement:

spark-sql> CREATE TABLE people (name STRING, age int);

Your output should be similar to this, noting the creation of the Spark SQL table
people as well as its file location (/user/hive/warehouse/people):

<!-- for me table file was created in below location since i ran spark-sql from venv
25/04/07 22:54:24 WARN HiveMetaStore: Location: file:/Users/pvasud669@apac.comcast.com/spark/bin/spark-warehouse/table_using_cli specified for non-external table:table_using_cli
Time taken: 1.037 seconds -->

## Insert data into the table
You can insert data into a Spark SQL table by executing a statement similar to:
INSERT INTO people SELECT name, age FROM ...
As you’re not dependent on loading data from a preexisting table or file, you can
insert data into the table using INSERT...VALUES statements. These three statements
insert three individuals (their names and ages, if known) into the people table

spark-sql> INSERT INTO people VALUES ("Michael", NULL);
Time taken: 1.696 seconds
spark-sql> INSERT INTO people VALUES ("Andy", 30);
Time taken: 0.744 seconds
spark-sql> INSERT INTO people VALUES ("Samantha", 19);
Time taken: 0.637 seconds
spark-sql>

## Running a Spark SQL query
Now that you have data in your table, you can run Spark SQL queries against it. Let’s
start by viewing what tables exist in our metastore:

spark-sql> SHOW TABLES;
default people false
Time taken: 0.016 seconds, Fetched 1 row(s)

Next, let’s find out how many people in our table are younger than 20 years of age:

spark-sql> SELECT * FROM people WHERE age < 20;
Samantha 19
Time taken: 0.593 seconds, Fetched 1 row(s)

As well, let’s see who the individuals are who did not specify their age:

spark-sql> SELECT name FROM people WHERE age IS NULL;
Michael
Time taken: 0.272 seconds, Fetched 1 row(s)